<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-aliyun-emas"
        version="0.0.1">
  <name>EMASPlugin</name>

  <description>Aliyun EMAS Service Cordova plugin</description>
  <keywords>aliyun, emas, analytics, tlog, crash</keywords>
  <license>Apache 2.0</license>

  <engines>
    <engine name="cordova-ios" version=">=3.8" />
    <engine name="cordova-android" version=">=7" />
  </engines>

  <js-module name="AliyunEMAS" src="www/AliyunEMAS.js">
    <clobbers target="AliyunEMAS"/>
  </js-module>
  <platform name="ios">
    <dependency id="cordova-plugin-cocoapod-support"/>
    <hook src="scripts/before_prepare_ios.js" type="before_prepare"/>
    <config-file parent="/*" target="config.xml">
      <feature name="AliyunInit">
        <param name="ios-package" value="AliyunInit"/>
      </feature>
      <feature name="AliyunRemoteLog">
        <param name="ios-package" value="AliyunRemoteLog"/>
      </feature>
      <feature name="AliyunEMAS">
        <param name="ios-package" value="AliyunEMAS"/>
      </feature>
      <feature name="AliyunMobileAnalytics">
        <param name="ios-package" value="AliyunMobileAnalytics"/>
      </feature>
    </config-file>
    <header-file src="src/ios/AliyunInit.h"/>
    <source-file src="src/ios/AliyunInit.m"/>
    <header-file src="src/ios/AliyunRemoteLog.h"/>
    <source-file src="src/ios/AliyunRemoteLog.m"/>
    <header-file src="src/ios/AliyunMobileAnalytics.h"/>
    <source-file src="src/ios/AliyunMobileAnalytics.m"/>
    <header-file src="src/ios/AliyunEMAS.h"/>
    <source-file src="src/ios/AliyunEMAS.m"/>
    <pods-config ios-min-version="8.0" use-frameworks="true">
      <source url="https://github.com/CocoaPods/Specs.git"/>
      <source url="https://github.com/aliyun/aliyun-specs.git"/>
    </pods-config>
    <pod name="AlicloudAPM"/>
    <pod name="AlicloudCrash"/>
    <pod name="AlicloudTLog"/>
    <pod name="AlicloudMANLight"/>
  </platform>
  <platform name="android">
    <hook src="scripts/before_prepare_android.js" type="before_prepare"/>
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="AliyunEMAS">
        <param name="android-package" value="org.apache.cordova.aliyunemas.AliyunEMAS"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <uses-permission android:name="android.permission.GET_TASKS"/>
      <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.READ_SETTINGS"/>
      <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    </config-file>
    <source-file src="src/android/AliyunEMAS.java" target-dir="src/org/apache/cordova/aliyunemas"/>
    <framework src="emas.gradle" custom="true" type="gradleReference" />
  </platform>
</plugin>
